<div class="selling-courses-container">
    <img class="asset-certificate" src="assets/images/Asset-Certificate.png" alt="">
    <div class="selling-courser-header">
      <h2 class="selling-courses-title">Top Selling Courses</h2>
      <a href="#" class="view-all"
        >View All Courses
        <svg
          width="22"
          height="12"
          viewBox="0 0 22 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1.64997 5.99967H20.35M20.35 5.99967L15.675 1.39551M20.35 5.99967L15.675 10.6038"
            stroke="yellow"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </a>
    </div>
    <div class="selling-courses-list">
      <ul class="list">
        <li>
          <img src="assets/images/course-img-1.png" alt="" />
          Bitcoin Technology and Application
        </li>
        <li class="active">
          <img src="assets/images/course-img-2.png" alt="" />
          Course on Computer Concepts
        </li>
        <li>
          <img src="assets/images/course-img-3.png" alt="" />
          Bitcoin Technology and Application
        </li>
      </ul>
      <div class="selected-courses-content">
        <p>
          Discover the essentials of computing with our Course on Computer
          Concepts. From hardware to programming languages, delve into the
          fundamentals and unlock the keys to navigating the digital world
          confidently.
        </p>
        <span><strong>Teachers: </strong>Mr. Bhawana </span>
        <div class="rating">
          <img src="assets/svg/4.5-star.svg" alt="" srcset="">
          <span>4.5 by 1724 students</span>
        </div>
        <div class="price">
          <span class="original-price">
            ₹ 599 <small>(inclusive of taxes)</small>
          </span>
        </div>
        <div class="actions">
          <span class="view-details">
            View Details
            <svg
              width="22"
              height="12"
              viewBox="0 0 22 12"
              fill="yellow"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.64997 5.99967H20.35M20.35 5.99967L15.675 1.39551M20.35 5.99967L15.675 10.6038"
                stroke="yellow"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
          <span class="view-details">
            Wishlist Course
            <svg
              width="22"
              height="12"
              viewBox="0 0 22 12"
              fill="yellow"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.64997 5.99967H20.35M20.35 5.99967L15.675 1.39551M20.35 5.99967L15.675 10.6038"
                stroke="yellow"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
        </div>
      </div>
    </div>
    <div class="quiz-banner-bar">
      <div class="logo">
        <img src="assets/images/book-pen.png" alt="" />
      </div>
      <div class="text">Take a practice Quiz designed to sharpen your skills</div>
      <button class="btn-quiz">
        Take Quiz
        <svg
          width="22"
          height="12"
          viewBox="0 0 22 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1.64997 5.99967H20.35M20.35 5.99967L15.675 1.39551M20.35 5.99967L15.675 10.6038"
            stroke="#1D1D1D"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>
  </div>