<div class="banner-container">
  <p class="banner-text">
    Skyrocket your <strong>career towards excellence</strong>
  </p>
  <img src="assets/images/Frame.png" alt="" />
  <div class="group-image">
    <img class="girl-image" src="assets/images/single-girl.png" alt="" />
    <img src="assets/images/girl-boy.png" alt="" />
  </div>
  <div class="feature-list">
    <ul>
      <li>
        <img src="assets/images/learning-icon.png" alt="" srcset="" />Flexing
        Learning
      </li>
      <li>
        <img
          src="assets/images/interactive-learning-icon.png"
          alt=""
          srcset=""
        />Interactive Learning Experience
      </li>
      <li>
        <img src="assets/images/career-icon.png" alt="" srcset="" />Career
        Opportunities
      </li>
    </ul>
  </div>
  <span></span>
  <img class="briefcase-icon" src="assets/images/Briefcase.png" alt="" />
</div>
