<div class="container">
  <div class="header">
    <h1>Top Selling in Technology</h1>
    <div class="arrows">
      <span>
        <svg
          width="22"
          height="12"
          viewBox="0 0 22 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M20.35 5.99999L1.65002 5.99999M1.65002 5.99999L6.32502 10.6042M1.65002 5.99999L6.32503 1.39582"
            stroke="#1D1D1D"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </span>
      <span>
        <svg
          width="22"
          height="12"
          viewBox="0 0 22 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1.64997 5.99999H20.35M20.35 5.99999L15.675 1.39583M20.35 5.99999L15.675 10.6042"
            stroke="#1D1D1D"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </span>
    </div>
  </div>
  <div class="card-list">
    <div class="card">
      <img
        src="assets/images/top-selling-img-1.png"
        alt="Internet of Things and its Applications"
      />
      <div class="card-content">
        <div class="card-title">
          Internet of Things and its Applications - Self Paced...
        </div>
        <div class="card-description">
          <img src="assets/svg/4-start.svg" alt="" />
          4.0 by 615 students
        </div>
        <div class="card-teacher">Teacher: Mrs.Anbumalar Pandian</div>
        <div class="card-price">₹399</div>
        <svg
          width="33"
          height="18"
          viewBox="0 0 33 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.999999 9H32M32 9L24.25 1.5M32 9L24.25 16.5"
            stroke="#013D2B"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
    <div class="card">
      <img
        src="assets/images/top-selling-img-2.png"
        alt="Certificate course in Electric Vehicle Design"
      />
      <div class="card-content">
        <div class="card-title">
          Certificate course in Electric Vehicle Design
        </div>
        <div class="card-description">
          <img src="assets/svg/4-start.svg" alt="" />
          4.0 by 615 students
        </div>
        <div class="card-teacher">Teacher: Mrs. Anbumalar Pandian</div>
        <div class="card-price">₹699</div>
        <svg
          width="33"
          height="18"
          viewBox="0 0 33 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.999999 9H32M32 9L24.25 1.5M32 9L24.25 16.5"
            stroke="#013D2B"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
    <div class="card">
      <img
        src="assets/images/top-selling-img-3.png"
        alt="Web Designing and Publishing - (Self Paced)"
      />
      <div class="card-content">
        <div class="card-title">
          Web Designing and Publishing - (Self Paced)
        </div>
        <div class="card-description">
          <img src="assets/svg/4-start.svg" alt="" />
          4.0 by 615 students
        </div>
        <div class="card-teacher">Teacher: Mrs. Anbumalar Pandian</div>
        <div class="card-price">
          ₹699
          <svg
            width="33"
            height="18"
            viewBox="0 0 33 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0.999999 9H32M32 9L24.25 1.5M32 9L24.25 16.5"
              stroke="#013D2B"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="scroll-icon">
    <svg
      width="84"
      height="10"
      viewBox="0 0 84 10"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect width="54" height="10" rx="5" fill="#1D1D1D" />
      <rect x="59" width="10" height="10" rx="5" fill="#C7C7C7" />
      <rect x="74" width="10" height="10" rx="5" fill="#C7C7C7" />
    </svg>
  </div>
  <img
    class="code-script-icon"
    src="assets/images/code-script-technology-icon.png"
    alt=""
  />
  <div class="collabe-container">
    <div class="content">
      <h2>Our Collaborations</h2>
      <p>
        We've partnered with industry leaders to deliver courses that not only
        educate but also immerse you in real-world scenarios, fostering your
        career growth.
      </p>
    </div>
    <div class="logos">
      <img src="assets/images/google.png" alt="Google" />
      <img src="assets/images/microsoft.png" alt="Microsoft" />
      <img src="assets/images/ibm.png" alt="IBM" />
      <img src="assets/images/adobe.png" alt="Adobe" />
      <img src="assets/images/amazon.png" alt="Amazon" />
    </div>
  </div>
</div>
