<div class="container">
    <div class="header">
        <h1>Blended Learning</h1>
        <div class="arrows">
            <div class="courses">View All Courses</div>
            <span>
                <svg width="22" height="12" viewBox="0 0 22 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M20.35 5.99999L1.65002 5.99999M1.65002 5.99999L6.32502 10.6042M1.65002 5.99999L6.32503 1.39582"
                        stroke="#1D1D1D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </span>
            <span>
                <svg width="22" height="12" viewBox="0 0 22 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.64997 5.99999H20.35M20.35 5.99999L15.675 1.39583M20.35 5.99999L15.675 10.6042"
                        stroke="#1D1D1D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </span>
        </div>
    </div>
    <div class="card-list">
        <div class="card">
            <img class="blended-card-img" src="assets/images/blended-icon-1.png" alt="Internet of Things and its Applications" />
            <div class="card-content">
                <div class="card-title">
                    PG Program in Data Engineering
                </div>
                <div class="card-description">
                    <img src="assets/svg/4-start.svg" alt="" />
                    4.0 by 615 students
                </div>
                <div class="card-teacher">Teacher: Mrs.Anbumalar Pandian</div>
                <div class="card-price">₹399</div>
                <div class="arrow"></div>
            </div>
        </div>
        <div class="card">
            <img class="blended-card-img" src="assets/images/blended-icon-2.png" alt="Certificate course in Electric Vehicle Design" />
            <div class="card-content">
                <div class="card-title">
                    Certificate course in AWS
                </div>
                <div class="card-description">
                    <img src="assets/svg/4-start.svg" alt="" />
                    4.0 by 615 students
                </div>
                <div class="card-teacher">Teacher: Mrs. Anbumalar Pandian</div>
                <div class="card-price">₹699</div>
                <div class="arrow"></div>
            </div>
        </div>
        <div class="card">
            <img class="blended-card-img" src="assets/images/blended-icon-3.png" alt="Web Designing and Publishing - (Self Paced)" />
            <div class="card-content">
                <div class="card-title">
                    Certified Full Stack Web Developer Feb 2024 Summary
                </div>
                <div class="card-description">
                    <img src="assets/svg/4-start.svg" alt="" />
                    4.0 by 615 students
                </div>
                <div class="card-teacher">Teacher: Mrs. Anbumalar Pandian</div>
                <div class="card-price">₹699</div>
                <div class="arrow"></div>
            </div>
        </div>
    </div>
    <div class="scroll-icon">
        <svg width="84" height="10" viewBox="0 0 84 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="54" height="10" rx="5" fill="#1D1D1D" />
            <rect x="59" width="10" height="10" rx="5" fill="#C7C7C7" />
            <rect x="74" width="10" height="10" rx="5" fill="#C7C7C7" />
        </svg>
    </div>
</div>